body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
}
#top{
	padding: 15px;
	border-bottom: solid 2px #999;
}
.menu ul{
	padding: 0;
	list-style: none;
	text-align: center;
}
.menu li{
	display: inline-block;
	padding: 0 20px;
	font-size: 24px;
}
.menu li a{
	color: #7E23FC;
	text-decoration: none;
}
.menu li a:hover{
	color: #41B46E;
	border-bottom: solid 1px #41B46E; 
}
.logo{
	text-align: center;
}
.logo h2{
	font-size: 58px;
	color: #7E23FC;
	line-height: 30px;
}
.logo h2 span{
	display: block;
	font-size: 48px;
	color: #777;
	letter-spacing: -2px;
}
#banner{
	height: 350px;
	background: url(imagens/banner.jpg) center center;
	background-size: cover;
}
#conteudo{
	width: 95%;
	margin: 40px auto;
	overflow: hidden;
}
.principal{
	float: left;
	height: 800px;
	width: 75%;
	border: solid 1px #333;
	box-sizing: border-box;
}
.lateral{
	float: left;
	height: 800px;
	width: 25%;
	border: solid 1px #333;
	box-sizing: border-box;
}
#rodape{
	text-align: center;
	background: #784c21;
	padding: 20px;
}
